html{
    font-size: 32px;
}

body{
    margin: 0;
    font-size: 62.5%;
}

nav{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #7733FF ;
    border-radius: 0.3rem;
    
}
nav a{
    text-decoration: none;  
    color: #CCE0E0;
    background-color:(229, 145, 20);
    padding: 0.3rem;
    border-radius: 0.3rem;
}
nav a:visited{
    color: #CCE0E0;
}

.nav{
    width: 5rem;
    box-sizing:border-box;
    background-color: #925CFF;
    height: 23px;
    margin-left: 8%;
}
.navBackground{
    background-color: #925CFF;
}

#intro{
    text-align: center;
    background-color: #ffdab9;
}

#intro > h1{
    margin-top: 0;
}
#intro > h2{
    margin-bottom: 0;
    padding-bottom: 1rem;
}
#intro>div > img{
    display: block;
    margin: auto;
    border-radius: 2rem;
    height: 10rem;   
}

#score{
    background-color: #FFF9A5;
    text-align: center;
    padding-bottom: 1rem;
}
#score > h1{
    margin-top: 0;
    padding-top: 1rem;
}
#score > table{
    margin: auto;
    width: 20%;
}

#hobby{
    background-color: #69A197;
    text-align: center;
}
#hobby > h2{
    display: inline-block;
    padding-top: 1rem;
    margin-top: 0;
    width: 20%;
}
#hobby > ul{
    margin: auto;
    width: 20%;
    text-align: left;
}
    
.gridContainer{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: auto 500px ;
}
#gridPhoto1{
    grid-area: 1 / 1/ span 1/ span 2;
}


